/*google font style import
cabin for general
Markazi for title, logo, nav
*/

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Markazi+Text:wght@400..700&display=swap');


/*Wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    /*Generic project styles*/
    background-color: #132A13;
    font-family: "cabin", sans-serif;
    color: #90A955;
}

a {
    text-decoration: none;
    color: #1F363D;
}

h3 {
    margin: 0.5em auto;
    font-size: 110%;
}

/*TO hide titles*/
.hide_title {
    display: none;
}

/*Header*/
header {
    background-color: #9EC1A3;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #9EC1A3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-family: "markazi", sans-serif;
    list-style: none;
    letter-spacing: 1px;
}

#menu {
    list-style: none;
    letter-spacing: 1px;
    font-size: 110%;
}

#menu li {
    margin-bottom: 1em;
    background-color: #9EC1A3;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    white-space: nowrap;
}

.active {
    border-bottom: 1px solid #1F363D;
}

/*Dropdown menu*/
nav {
    position: absolute;
    background-color: #9EC1A3;
    left: 0;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #9EC1A3;
    display: none;
    top: 100%;
}

/*Checkbox pseudoclass*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/
main {

    /*make main take up space to push footer down*/
    flex: 1 0 auto;
    margin-top: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../images/pexels-markus-winkler-1430818-5406583.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: #31572C;
    top: 100%;
    color: #ECF39E;

    /*below seem affects the bug of green under header*/
    padding: 2em;
}

/*Intro*/

#intro {
    background-color: #132A13;
    color: #90A955;
    padding: 1em;
    border-radius: 1em;
    line-height: 27px;
    display: flex;
}

#chieftain_jordanian_pic {
    width: auto;
    height: 70vh;
    border: 2px solid #90A955;
    border-radius: 25%;
}

#intro p {
    vertical-align: middle;
    text-align: justify;
    padding: 3em;
}

/*Timeline*/

#timeline {
    margin: 5em auto;
    max-width: 34.15em;
}

.checkpoint {
    max-width: 35em;
    padding: 2em;
    position: relative;
}

.checkpoint div {
    border: 2px solid #90A955;
    padding: 1em;
    border-radius: 1em;
    background-color: #4F772D;
}

.checkpoint p {
    line-height: 27px;
    color: #ECF39E;
}

.checkpoint img {
    width: 50vh;
    height: auto;
    border: 2px solid #90A955;
    border-radius: 15%;
}

.checkpoint label {
    color: #CFE0C3;
    font-size: small;
}

/*To move the sections left and right of th timeline*/
.checkpoint:nth-child(odd) {
    border-left: 3px solid #90A955;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    border-right: 3px solid #90A955;
    padding-right: 3em;
    transform: translateX(-17em);
}

/*To add lines connecting to the timeline*/
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: '';
    background: #90A955;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.checkpoint:nth-child(odd)::before {
    left: 0;
}

.checkpoint:nth-child(even)::before {
    right: 0;
}

/*To add circles to the timeline*/

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: '';
    background: #90A955;
    box-shadow: 0 0 0.5em #90A955;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

/*Events.html*/
/*Events background*/

#events_main {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../images/pexels-behnam-23247594.jpg") no-repeat center fixed;
    background-size: cover;
    top: 100%;
}


#notable_events {
    margin: 5em auto;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.events {
    max-width: 40%;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 2px solid #90A955;
    padding: 1em;
    border-radius: 1em;
    background-color: #4F772D;
    margin: 2em;
    line-height: 27px;
}

/*Events images*/
.events img {
    width: 50vh;
    height: auto;
    border: 2px solid #90A955;
    border-radius: 15%;
}

.events label {
    color: #CFE0C3;
    font-size: small;
}

/*Specs*/
table {
    border-collapse: collapse;
    text-align: left;

}

table {
    /*border: 1.5px solid #132A13;*/
    padding: 0.5em;
}

td,
th {
    padding: 0.5em;
}

tr:nth-child(even) {
    background-color: #31572C;
}

/*contact.html*/
/*contact background*/

#contact_main {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../images/1024px-Een_colonne_Engelse_Chieftain_tanks.jpg") no-repeat center fixed;
    background-size: cover;
    top: 100%;
}

#disclaimer {
    background-color: #132A13;
    color: hsl(78, 33%, 50%);
    padding: 1em;
    border-radius: 1em;
    line-height: 27px;
}

#contact_us_form {
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 280px;
    line-height: 27px;
    background-color: #132A13;
    color: hsl(78, 33%, 50%);
    padding: 1em;
    border-radius: 1em;
}

#feedback {
    resize: none;
}

#contact_details {
    max-width: 400px;
    position: absolute;
    left: 30%;
    top: 280px;

    background-color: #132A13;
    color: hsl(78, 33%, 50%);
    padding: 1em;
    border-radius: 1em;
}

/*redirect.html*/
/*Redirect background*/
#redirect_main {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../images/1024px-Tank_unloading_from_rail_tank_carrier_1969_-_geograph.org.uk_-_2321335.jpg") no-repeat center fixed;
    background-size: cover;
    top: 100%;
}

#redirect_message {
    text-align: center;
    font-size: 150%;
    position: relative;
    border: 2px solid #90A955;
    padding: 1em;
    border-radius: 1em;
    background-color: #4F772D;
    margin: 7em;
    line-height: 27px;
}

#redirect_message a:hover {
    color: #CFE0C3;
    border-bottom: 1px solid #CFE0C3;
}

/*Footer*/
footer {
    background-color: #ECF39E;
}

#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
}

/*Media query - tablets (768px)*/
@media screen and (min-width:786px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        line-height: 75px;
        margin: 0 0.3rem;
    }

    /*Main*/
    main {
        margin-top: 95px;
    }
}

/*Media query - laptops (992px)*/
@media screen and (min-width:992px) {

    /*Header*/
    #menu a:hover {
        border-bottom: 1px solid #1F363D;
    }
}

/*Media query - phones (1150px)*/
@media screen and (max-width:1150px) {

    body {
        overflow-x: hidden;
    }

    /*Intro*/
    #intro {
        flex-direction: column;
    }

    #chieftain_jordanian_pic {
        max-width: 100%;
        height: auto;
    }

    #intro p {
        padding: 1em;
    }

    /*Timeline*/
    #timeline {
        width: 80vw;
    }

    #timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    #timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }

    #timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }

    /*Timeline Images*/

    .checkpoint img {
        max-width: 100%;
        height: auto;
    }

    /*Events*/
    #notable_events {
        margin: 0 0.005em;
        width: 80vw;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .events {
        max-width: 100%;
        padding: 0.5em;

    }

    /*Events Images*/

    .events img {
        max-width: 100%;
        height: auto;
    }

    /*Contact*/
    #disclaimer {
        padding: 1em;
        border-radius: 1em;
        margin: 1em;
    }
    
    #contact_us_form {
        max-width: 400px;
        padding: 1em;
        top: 1em; 
        border-radius: 1em;
        margin: 1em;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    
    #contact_details {
        max-width: 400px;
        left: 2%;
        top: 2em;
        padding: 1em;
        border-radius: 1em;
        margin: 1em;
        display: flex;
        position: relative;
        flex-grow: 1;
    }

    /*Redirect*/
    #redirect_message {
        width: 100%;
        text-align:center;
        font-size: 6vw;
        margin: 10em 1em;
    }

}