/*google font style import
cabin for general
Markazi for title, logo, nav
*/

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Markazi+Text:wght@400..700&display=swap');


/*Wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic porject styles*/
    background-color: #70A9A1;
    font-family: "cabin", sans-serif;
}

a {
    text-decoration: none;
    color: #1F363D;
}

/*Header*/
header {
    background-color: #9EC1A3;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #9EC1A3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-family: "markazi", sans-serif;
    list-style: none;
    letter-spacing: 1px;
}

#menu {
    list-style: none;   
    letter-spacing: 1px;
    font-size: 110%;
}

#menu li {
    margin-bottom: 1em;
    background-color: #9EC1A3;
    width: 100%;
    left: 0;
    padding: 0 1rem;
}

.active {
    border-bottom:1px solid #1F363D;
}

/*Dropdown menu*/
nav {
    position: absolute;
    background-color: #9EC1A3;
    left: 0;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #9EC1A3;
    display: none;
    top: 100%;
}

/*Checkbox pseudoclass*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display:none
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/
main {

    /*make main take up space to push footer down*/
    flex: 1 0 auto;
    margin-top: 40px;
}

/*Footer*/
footer {
    background-color: #40798C;
}

/*Media query - tablets (768px)*/
@media screen and (min-width:786px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        line-height: 75px;
        margin:0 0.3rem;
    }

    /*Main*/
    main {
        margin-top: 95px;
    }
}

/*Media query - laptops (992px)*/
@media screen and (min-width:992px) {
    /*Header*/
    #menu a:hover {
        border-bottom:1px solid #1F363D;
    }
}