/*google font style import
cabin for general
Markazi for title, logo, nav
*/

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Markazi+Text:wght@400..700&display=swap');


/*Wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    /*Generic project styles*/
    background-color: #132A13;
    font-family: "cabin", sans-serif;
    color: #90A955;
}

a {
    text-decoration: none;
    color: #1F363D;
}

/*TO hide titles*/
.hide_title {
    display: none;
}

/*Header*/
header {
    background-color: #9EC1A3;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #9EC1A3;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-family: "markazi", sans-serif;
    list-style: none;
    letter-spacing: 1px;
}

#menu {
    list-style: none;
    letter-spacing: 1px;
    font-size: 110%;
}

#menu li {
    margin-bottom: 1em;
    background-color: #9EC1A3;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    white-space: nowrap;
}

.active {
    border-bottom: 1px solid #1F363D;
}

/*Dropdown menu*/
nav {
    position: absolute;
    background-color: #9EC1A3;
    left: 0;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #9EC1A3;
    display: none;
    top: 100%;
}

/*Checkbox pseudoclass*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/
main {

    /*make main take up space to push footer down*/
    flex: 1 0 auto;
    margin-top: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../images/pexels-markus-winkler-1430818-5406583.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: #31572C;
    top: 100%;
    color: #ECF39E;
    padding: 2em;
}

/*Intro*/

#intro {
    background-color: #132A13;
    color: #90A955;
    padding: 1em;
    border-radius: 1em;
    line-height: 27px;
    display: flex;
}

#chieftain_jordanian_pic {
    width: 78vh;
    height: 78vh;
    border: 2px solid #90A955;
    border-radius: 50%;
}

#intro p {
    vertical-align: middle;
    text-align:justify;
    padding: 3em;
}

/*Timeline*/

#timeline {
    margin: 5em auto;
    max-width: 34.15em;
}

.checkpoint {
    max-width: 34em;
    padding: 2em;
    position: relative;
}

.checkpoint div {
    border: 2px solid #90A955;
    padding: 1em;
    border-radius: 1em;
    background-color: #4F772D;
}

.checkpoint p {
    line-height: 27px;
    color: #ECF39E;
}

/*To move the sections left and right of th timeline*/
.checkpoint:nth-child(odd) {
    border-left: 3px solid #90A955;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    border-right: 3px solid #90A955;
    padding-right: 3em;
    transform: translateX(-17em);
}

/*To add lines connecting to the timeline*/
.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: '';
    background: #90A955;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.checkpoint:nth-child(odd)::before {
    left: 0;
}

.checkpoint:nth-child(even)::before {
    right: 0;
}

/*To add circles to the timeline*/

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: '';
    background: #90A955;
    box-shadow: 0 0 0.5em #90A955;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

/*Footer*/
footer {
    background-color: #ECF39E;
}

#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
}

/*Media query - tablets (768px)*/
@media screen and (min-width:786px) {

    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        line-height: 75px;
        margin: 0 0.3rem;
    }

    /*Main*/
    main {
        margin-top: 95px;
    }
}

/*Media query - laptops (992px)*/
@media screen and (min-width:992px) {

    /*Header*/
    #menu a:hover {
        border-bottom: 1px solid #1F363D;
    }
}

/*Media query - phones (1150px)*/
@media screen and (max-width:1150px) {

    /*Timeline*/
    #timeline {
        width: 80vw;
    }

    #timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    #timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }

    #timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }

}